<server description="new server">

	<!-- Enable features -->
	<featureManager>
		<feature>webProfile-7.0</feature>
		<feature>ssl-1.0</feature>
		<feature>adminCenter-1.0</feature>
		<feature>localConnector-1.0</feature>
		<feature>couchdb-1.0</feature>
		<feature>jndi-1.0</feature>
		<feature>appSecurity-2.0</feature>
		<feature>usr:RED_Notes</feature>
		<feature>usr:RED_Core</feature>
		<feature>osgiBundle-1.0</feature>
    	<feature>osgiAppConsole-1.0</feature>
		<feature>concurrent-1.0</feature>
		<feature>javaee-7.0</feature>
		<feature>usr:RED_NSF</feature>
		<feature>usr:RED_Launch</feature>
	</featureManager>

	<!-- To access this server from a remote client add a host attribute to 
		the following element, e.g. host="*" -->
	<httpEndpoint httpPort="9080" httpsPort="9443"
		id="defaultHttpEndpoint" />

	<!-- Automatically expand WAR files and EAR files -->
	<applicationManager autoExpand="true" />

	<!-- My settings -->
	<keyStore id="defaultKeyStore" location="keystore.jks"
		password="passw0rd" type="JKS" />
	<ssl id="defSSL" keyStoreRef="defaultKeyStore" />
	<sslDefault sslRef="defSSL" />
	<basicRegistry id="basic" realm="hyarthirealm">
		<user name="fadams" password="password" />
		<user name="gchao" password="password" />
		<user name="scho" password="password" />
		<user name="slowpoke" password="password" />
		<group name="LocalDomainAdmins">
			<member name="fadams" />
		</group>
	</basicRegistry>

	<administrator-role>
		<group>LocalDomainAdmins</group>
	</administrator-role>
	<!-- <couchdb password="passw0rd" username="hyarthi" id="couchService" -->
	<!-- jndiName="couch/service" url="http://lotuslocal:5984" -->
	<!-- relaxedSSLSettings="true" libraryRef="ektorpConnector"> -->
	<!-- </couchdb> -->
	<library id="ektorpConnector" name="ektorpConnector">
		<fileset dir="${server.config.dir}/lib"
			includes="commons-codec-1.6.jar, commons-io-2.0.1.jar, commons-logging-1.1.1.jar, httpclient-4.2.5.jar, httpclient-cache-4.2.5.jar, httpcore-4.2.4.jar, jackson-annotations-2.2.2.jar, jackson-core-2.2.2.jar, jackson-databind-2.2.2.jar, org.ektorp-1.4.1.jar, slf4j-api-1.6.4.jar" />
	</library>
	<jndiEntry id="notes_ini_location" jndiName="notes_ini_location"
		value="${server.config.dir}/resources" />

	<applicationMonitor updateTrigger="mbean" />

	<osgiApplication id="RED_Tester_app" location="RED_Tester_app.eba"
		name="RED_Tester_app">
	</osgiApplication>
	<managedThreadFactory createDaemonThreads="true"
		id="REDThreadFactory" jndiName="REDThreadFactory"
		defaultPriority="5" maxPriority="10">
		<contextService>
			<classloaderContext></classloaderContext>
			<securityContext></securityContext>
		</contextService>
	</managedThreadFactory>
</server>